html, body {
    height: 100%;
    width: 100%;
}
header.content {
    background: url("LakesBackground.jpg") fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container {
    text-align: center;
}

h1 {
    font-size: 50px;
}

#TitleBox {
    margin: 0;
    background-color: rgba(43, 197, 125, 0.75);
    color: white;
}

#MoreInfo {
    height: 100px;
    width: auto;
    margin-top: 200px;
    border: 3px solid cyan;
    font-size: 25px;
    border-radius: 60px;

}